/multimedia/mediafoundation/MFCaptureToFile/Debug
/multimedia/mediafoundation/MFCaptureToFile/Release
/multimedia/mediafoundation/MFCaptureToFile/*.opensdf
/multimedia/mediafoundation/MFCaptureToFile/*.user
/multimedia/mediafoundation/MFCaptureToFile/*.wmv
/multimedia/mediafoundation/MFCaptureToFile/*.mp4
/multimedia/mediafoundation/MFCaptureToFile/*.txt
/multimedia/mediafoundation/Decoder/*.user
/multimedia/mediafoundation/Decoder/*.txt
/multimedia/mediafoundation/Decoder/*.def
/multimedia/mediafoundation/Decoder/Release
/multimedia/mediafoundation/Release
/multimedia/mediafoundation/SimpleCapture/Release
/multimedia/mediafoundation/SimpleCapture/*.txt
/multimedia/mediafoundation/SimpleCapture/*.user
/multimedia/mediafoundation/SimpleCapture/*.filters
/multimedia/mediafoundation/SimplePlay/Release
/multimedia/mediafoundation/SimplePlay/*.txt
/multimedia/mediafoundation/SimplePlay/*.user
/multimedia/mediafoundation/*.suo
/multimedia/mediafoundation/Debug
/multimedia/mediafoundation/ipch
/multimedia/mediafoundation/*.sdf
/multimedia/mediafoundation/MFCaptureToFile/ipch
/multimedia/mediafoundation/MFCaptureToFile/*.sdf
/multimedia/mediafoundation/SimpleCapture/Debug
/multimedia/mediafoundation/SimplePlay/Debug
